.gg {
    height: 1200px;
    /* background: #000; */
    margin-bottom: 20px;
}

.Title_page {
    text-align: center;
    margin-top: 10%;
    
}

#Scedule_img {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 250px;
    height: 250px;
}

.content-box-image {
    display: inline-block; 
    width: 250px; 
    height: 250px; 
  }
  
  .content-box-image img {
    display: block; 
    max-width: 100%; 
    height: auto; 
  }
  
.info-open-house{
    padding-top: 50px;
}

.align-middle li{
    padding-left: px;
}

.Question_Anwser{
    text-align: left;
    padding-left: 25%;
    padding-right: 25%;
}

.Question_Anwser h4{
    font-size: 24px;
}

.Question_Anwser h5{
    font-size: 18px;
}