<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-8 col-lg-10">
      <div class="callout-text font-alt">
        <h4 style="margin-top: 0px">9, 1 Phahonyothin Rd, Khlong Nueng, Khlong Luang, Pathum Thani 12120</h4>
        <p style="margin-bottom: 0px">© 2024 by Bangkok University</p>
      </div>
    </div>
    <div class="callout-text font-alt" class="col-sm-6 col-md-4 col-lg-2">
        <div class="row-lg-6">
            <a href="/privacy_notice">privacy notice</a>
        </div>
        <div lass="row-lg-6">
            <a href="/terms_of_service">terms of service</a>
        </div>
    </div>
  </div>
</div>
